<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="TestPackage.Listeners"/>

</listeners>
<parameter name="URL" value="google.com"/>

  <test name="Sheetal">
   
    <classes>
      <class name="TestPackage.testNG1"/>
      
     
        <class name="TestPackage.testNG2"/>
  <class name="TestPackage.estNG4"/>
  
    </classes>
    </test>
    
    <test name="poan">
   <parameter name="URL" value="myoan.com"/>
    <parameter name="API/Username" value="1234"/>
      <classes>
          
          <class name="TestPackage.testNG3">
    <methods>
    <exclude name="Home"/>
   
    </methods>
    </class>
    </classes>
        </test>
   
 
</suite>